@using EntityLayer.Models
@model IEnumerable<StudentRegistration>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="/Home/Index">
        <input type="text" name="Password" />
        <input type="submit" value="Kaydet" />
    </form>
</body>
</html>
